.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 14px 0px;
}

.navigation .menu,
.navigation .nav-btns {
    display: flex;
}

.nav-toggle {
    display: none;
}

.logo img {
    max-width: 180px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-position: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a{
    margin: 0px 15px;
    transition: 0.5s;
  
}

.menu li a,
.nav-btns li a{
    padding: 8px;
    border-radius: 20px;
    color: #4d4d4d;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.menu li {
    position: relative;
}

/* Nav arrow */
.nav-label::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f80f0f;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;

}

.menu li a:hover{
    color: white;
    background-color: #95a7b5
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

.nav-btns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns ul li a{
    margin: 0px 6px;
}

#contactUs a{
    border: 0.5px solid #6161ff;
}

#getStarted a{
    background-color: #6161ff;
    color: white;
}

#getStarted a,
#contactUs a{
    transition: 0.4s;
}

#contactUs a:hover,
#getStarted a:hover{
    background-color: #5151d5;
    color: #fdfdfd;
}

.nav-btns li a i{
    transition: transform 0.3s ease;
}

.nav-btns li a:hover i{
    transform: translateX(4px);
}

.nav-btns a {
    color: #181818;
    font-size: 1rem;
}

.nav-btns label {
    color: #181818;
    cursor: pointer;
}

.nav-search form {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #14141446;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-search-btn:checked~.nav-search form {
    display: flex;
}

#nav-search-btn {
    display: none;
}

.nav-search-close i {
    color: #ffffff;
}

.nav-search-box {
    max-width: 600px;
    width: 90%;
    height: 45px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.12);
    padding: 0px 2.5px;
}

.nav-search-box button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0f87f8;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-search-box input {
    width: 90%;
    padding: 0px 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav-search-close {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    margin-bottom: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 50%;
}